## "Eu odiava cada minuto dos treinos, mas dizia para mim mesmo: Não desista! Sofra agora e viva o resto de sua vida como um campeão".
# Muhammad Ali

##

Importa a biblioteca sqlite3 Built-in do python, ou seja, é uma biblioteca que já é inclusa por padrão no python puro

Todas as libs padrão do python: https://docs.python.org/3/library/index.html

In [142]:
import sqlite3

SQL, na maioria das vezes, não é uma linguagem case sentive(SELECT não é um comando diferente de select), porém todos os comandos aqui serão escritos em maiúsculo.
Saiba um pouco mais aqui: https://learnsql.com/blog/sql-case-sensitive/

O sqllite possui uma coluna auto incrementada implicita, o "rowid".

O sql permite dividir linhas de codigo por ";", porém não se precisa usar. Saiba mais aqui: https://stackoverflow.com/questions/710683/when-should-i-use-semicolons-in-sql-server

In [143]:
# se conecta ao banco de dados existente ou o cria caso não exista 
conexao = sqlite3.connect('casos_obitos_doencas_preexistentes.db') 

# cria o cursor que será utilizado para operar no banco de dados
cursor = conexao.cursor()

In [ ]:
# cria a primeira tabela se esta não existir
# executa comandos sql
cursor.execute(''' 
--isto e um comentario de linha unica na linguagem SQL
CREATE TABLE IF NOT EXISTS primeira_tabela(
   nome_munic              VARCHAR(8) 
  ,idade                   INTEGER  
  ,cs_sexo                 VARCHAR(9) 
  ,diagnostico_covid19     VARCHAR(10) 
  ,data_inicio_sintomas    VARCHAR(20) 
  ,obito                   BIT);
''')

conexao.commit() # e salva a tabela criada^ no arquivo .db, e usarei este comando em todas as ocasiões que for necessário modificar o banco de dados permanentemente, ou seja, salvar em disco

In [ ]:
# olhando a estrutura que servirá para inserir dados na 'primeira_tabela' 
cursor.execute('''INSERT INTO primeira_tabela(nome_munic,idade,cs_sexo,diagnostico_covid19,data_inicio_sintomas,obito) VALUES
 ('Louveira',41,'MASCULINO','CONFIRMADO','2021-03-15T00:00:00Z',0);''')
conexao.commit()

In [ ]:
cursor.execute('''
INSERT INTO primeira_tabela(nome_munic,idade,cs_sexo,diagnostico_covid19,data_inicio_sintomas,obito) 

VALUES
 ('Limeira',33,'FEMININO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Limeira',23,'FEMININO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Limeira',49,'FEMININO','CONFIRMADO','2021-05-30T00:00:00Z',0);
''')
conexao.commit()

In [ ]:
# executa um comando e pesquisa(onde 'fetchall' significa buscar tudo)
cursor.execute('SELECT * FROM primeira_tabela').fetchall()

In [ ]:
# agora, para facilitar as consultas, as execuções e os salvamentos, crio estas funções e objeto:
def consulta(comandos):
    # uma função retorna os resultados
    resultado = cursor.execute('{}'.format(comandos)).fetchall()
    return resultado

def executa(comandos):
    # e a outra apenas executa os comandos
    cursor.execute('{}'.format(comandos))

In [ ]:
# funcionamento
consulta('SELECT * FROM primeira_tabela')

# ou desta forma para mais linhas(note o uso de três aspas unicas, isto serve para poder passar mais linhas para a função):
consulta('''SELECT * 
           FROM primeira_tabela''')

In [ ]:
# executa os comandos e salva no arquivo .db
executa('''INSERT INTO primeira_tabela(nome_munic,idade,cs_sexo,diagnostico_covid19,data_inicio_sintomas,obito) VALUES
 ('Limeira',29,'FEMININO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Limeira',25,'FEMININO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Limeira',23,'FEMININO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Limeira',46,'FEMININO','CONFIRMADO','2021-05-30T00:00:00Z',0);''')
conexao.commit()
executa('SELECT * FROM primeira_tabela')

In [ ]:
# colocando os dados restantes 
# e é aqui que vem o truque para estudar sql com pouco poder computacional: 
# Você pode escolher os dados que estão escritos no arquivo "casos_obitos_doencas_preexistentes_primeira_tabela.txt" onde terão comandos para inserir dados com 4 valores
# Então você poderá inserir quantos dados quiser, ao invés de inserir todos os dados!
executa('''INSERT INTO primeira_tabela(nome_munic,idade,cs_sexo,diagnostico_covid19,data_inicio_sintomas,obito) VALUES
 ('Jaú',63,'FEMININO','CONFIRMADO','2021-01-24T00:00:00Z',0),('Jaú',41,'MASCULINO','CONFIRMADO','2021-01-24T00:00:00Z',0)
,('Limeira',27,'FEMININO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Limeira',30,'MASCULINO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Limeira',47,'FEMININO','CONFIRMADO','2021-05-31T00:00:00Z',0)
,('Limeira',26,'FEMININO','CONFIRMADO','2021-05-31T00:00:00Z',0)
,('Limeira',37,'MASCULINO','CONFIRMADO','2021-05-31T00:00:00Z',0)
,('Limeira',50,'MASCULINO','CONFIRMADO','2021-05-31T00:00:00Z',0)
,('Limeira',49,'FEMININO','CONFIRMADO','2021-05-31T00:00:00Z',0)
,('Limeira',53,'FEMININO','CONFIRMADO','2021-05-31T00:00:00Z',0)
,('Limeira',45,'FEMININO','CONFIRMADO','2021-05-31T00:00:00Z',0)
,('Limeira',24,'MASCULINO','CONFIRMADO','2021-05-31T00:00:00Z',0)
,('Lins',56,'FEMININO','CONFIRMADO','2021-03-30T00:00:00Z',0)
,('Lins',36,'FEMININO','CONFIRMADO','2021-03-30T00:00:00Z',0)
,('Lins',58,'FEMININO','CONFIRMADO','2021-03-30T00:00:00Z',0)
,('Louveira',31,'FEMININO','CONFIRMADO','2021-03-15T00:00:00Z',0)
,('Limeira',53,'FEMININO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Limeira',21,'MASCULINO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Limeira',59,'FEMININO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Limeira',31,'MASCULINO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Limeira',53,'MASCULINO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Limeira',11,'FEMININO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Limeira',34,'FEMININO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Limeira',50,'FEMININO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Limeira',16,'MASCULINO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Limeira',43,'MASCULINO','CONFIRMADO','2021-05-30T00:00:00Z',1)
,('Limeira',28,'FEMININO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Limeira',26,'FEMININO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Limeira',56,'FEMININO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Limeira',64,'FEMININO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Limeira',63,'MASCULINO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Lins',53,'MASCULINO','CONFIRMADO','2021-03-29T00:00:00Z',0)
,('Lins',47,'MASCULINO','CONFIRMADO','2021-03-30T00:00:00Z',0)
,('Limeira',22,'FEMININO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Limeira',37,'MASCULINO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Limeira',12,'FEMININO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Limeira',56,'FEMININO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Limeira',35,'FEMININO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Limeira',57,'FEMININO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Limeira',48,'FEMININO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Limeira',51,'MASCULINO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Limeira',37,'MASCULINO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Limeira',43,'MASCULINO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Limeira',34,'MASCULINO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Limeira',43,'MASCULINO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Limeira',38,'FEMININO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Louveira',21,'MASCULINO','CONFIRMADO','2021-03-14T00:00:00Z',0)
,('Louveira',64,'FEMININO','CONFIRMADO','2021-03-14T00:00:00Z',1)
,('Louveira',39,'MASCULINO','CONFIRMADO','2021-03-14T00:00:00Z',0)
,('Louveira',27,'MASCULINO','CONFIRMADO','2021-03-14T00:00:00Z',0)
,('Louveira',35,'FEMININO','CONFIRMADO','2021-03-15T00:00:00Z',0)
,('Louveira',41,'MASCULINO','CONFIRMADO','2021-03-15T00:00:00Z',0)
,('Louveira',34,'FEMININO','CONFIRMADO','2021-03-15T00:00:00Z',0)
,('Louveira',47,'FEMININO','CONFIRMADO','2021-03-15T00:00:00Z',0)
,('Louveira',26,'MASCULINO','CONFIRMADO','2021-03-15T00:00:00Z',0)
,('Louveira',33,'FEMININO','CONFIRMADO','2021-03-16T00:00:00Z',0)
,('Louveira',58,'MASCULINO','CONFIRMADO','2021-03-16T00:00:00Z',0)
,('Louveira',57,'FEMININO','CONFIRMADO','2021-03-16T00:00:00Z',0)
,('Louveira',38,'MASCULINO','CONFIRMADO','2021-03-16T00:00:00Z',0)
,('Louveira',40,'MASCULINO','CONFIRMADO','2021-03-16T00:00:00Z',0)
,('Limeira',31,'FEMININO','CONFIRMADO','2021-05-30T00:00:00Z',0)
,('Limeira',15,'FEMININO','CONFIRMADO','2021-05-30T00:00:00Z',0);''')

conexao.commit()

In [ ]:
# Adicionando novos dados com valores faltantes(NULL)
executa('''INSERT INTO primeira_tabela(nome_munic,idade,cs_sexo,diagnostico_covid19,data_inicio_sintomas,obito) VALUES
 ('Jaú',63,NULL,NULL,'2021-01-24T00:00:00Z',0),('Jaú',41,NULL,'CONFIRMADO','2021-01-24T00:00:00Z',0)
,('Limeira',27,'FEMININO','CONFIRMADO',NULL,0)
,('Limeira',30,'MASCULINO','CONFIRMADO','2021-05-30T00:00:00Z',NULL);''')

conexao.commit()

In [ ]:
# a função 'consulta' sempre retorna uma lista com as consultas
r = consulta('SELECT * FROM primeira_tabela')
type(r)

In [ ]:
# Seleciona todas as colunas (SELECT *) da 'primeira_tabela' (FROM primeira_tabela) e filtra os registros onde idade é 21(WHERE idade=21)
consulta(''' 
SELECT *
FROM primeira_tabela
WHERE idade=21
''')

## Operador Limit

In [ ]:
# Seleciona todas as colunas (SELECT *) da 'primeira_tabela' (FROM primeira_tabela) e mostra os primeiros 10 registros
# no mundo real, bancos de dados as vezes vão ter milhões ou bilhões de linhas, por isso deve-se sempre limitar as linhas
consulta(''' 
SELECT *
FROM primeira_tabela
LIMIT 10
''')

## Operadores lógicos

In [ ]:
# o operador OR retorna qualquer registro em que a condições seja verdadeira 
# Condição OR Condição
# retornando as idades que são iguais a 21 ou 23(WHERE idade=21 OR idade=23)
consulta(''' 
SELECT *
FROM primeira_tabela
WHERE idade=27 OR idade=23
''')

In [ ]:
# o operador AND retorna os registro em que as duas condições sejam verdadeiras
# Condição AND Condição
# retornando os valores em que a idade é igual a 21 e o nome_munic seja igual a 'Limeira' (WHERE idade=21 AND nome_munic='Limeira')
consulta(''' 
SELECT *
FROM primeira_tabela
WHERE idade=21 AND nome_munic='Limeira' 
''')

In [ ]:
# o operador NOT retorna os registro em que a condição seja não verdadeira(falsa)
# NOT Condição
# retornando todos os resultados onde nome_munic não é 'Limeira'(WHERE NOT nome_munic='Limeira')
consulta(''' 
SELECT *
FROM primeira_tabela
WHERE NOT nome_munic='Limeira' 
''')

In [ ]:
# retorna as linhas onde a coluna obito é NULL(WHERE obito IS NULL)
consulta(''' 
SELECT *
FROM primeira_tabela
WHERE obito IS NULL
''')

In [ ]:
# retorna as linhas onde a coluna obito não é NULL(WHERE obito IS NOT NULL)
consulta(''' 
SELECT *
FROM primeira_tabela
WHERE obito IS NOT NULL
''')

In [ ]:
# mostra o registro onde o rowid é igual a 4, ou seja, mostra a quarta linha
consulta('''
SELECT * 
FROM primeira_tabela
WHERE rowid = 4
''')

## Operadores de comparação

In [ ]:
# retorna os registros onde a idade seja menor ou igual a 20 (WHERE idade<=20)
consulta('''
SELECT *
FROM primeira_tabela
WHERE idade<=20
''')

In [ ]:
# retorna os registros onde a idade seja maior que 30, não incluindo os valores iguais a 30 (WHERE idade>30)
consulta('''
SELECT *
FROM primeira_tabela
WHERE idade>30
''')

In [ ]:
# retorna os registros onde a idade seja igual a 30 (WHERE idade=30)
consulta('''
SELECT *
FROM primeira_tabela
WHERE idade=30
''')

In [ ]:
# retorna os registros onde a idade seja diferente de 40 (WHERE idade=30)
consulta('''
SELECT *
FROM primeira_tabela
WHERE idade<>40
''')

In [ ]:
# retorna os registros onde a idade não seja igual a 40 (WHERE idade=30), sendo muito semelhante a condição de cima^, pelo menos nesse caso
consulta('''
SELECT *
FROM primeira_tabela
WHERE idade=40
''')

## Operações aritméticas

In [ ]:
# retorna os registros de 'nome_munic' e somando 1 a 'idade' 
consulta('''
SELECT nome_munic, idade+1
FROM primeira_tabela
''')

In [ ]:
# retorna os registros de 'nome_munic' e multiplicando a 'idade' e somando 35 a ela, respeitando a ordem matemática, ou seja, multiplicando primeiro e depois somando
consulta('''
SELECT nome_munic, 2*idade+35
FROM primeira_tabela
''')

In [ ]:
# retorna os registros de 'nome_munic' e dividindo a 'idade' por 2
consulta('''
SELECT nome_munic, idade/2
FROM primeira_tabela
''')

In [ ]:
# retorna os registros de 'nome_munic' e dividindo a 'idade' por 2 e retornando o resto
consulta('''
SELECT nome_munic, idade%2
FROM primeira_tabela
''')

## Operador Between

In [ ]:
# consultando todas as linhas (SELECT *) da 'primeira_tabela' (FROM primeira_tabela), 
# onde 'idade' esteja entre 25 e 29 (WHERE idade BETWEEN 25 AND 29) ou (WHERE idade >= 25 AND idade <= 29)
consulta('''
SELECT *
FROM primeira_tabela
WHERE idade BETWEEN 25 AND 29
''')

In [ ]:
# este consulta acima^ também pode ser escrita desta forma que terá o mesmo resultado:
consulta('''
SELECT *
FROM primeira_tabela
WHERE idade 
BETWEEN 25 AND 29
''')

In [ ]:
# as consultas podem ser escritas desta forma também:
consulta('''
SELECT *
FROM 
    primeira_tabela
WHERE 
    idade BETWEEN 25 AND 29
''')

## Operador Order By

In [ ]:
# agora fazendo as mesmas consultas de cima e ordenando tudo pela idade (ORDER BY idade):
consulta('''
SELECT *
FROM primeira_tabela
WHERE idade 
BETWEEN 25 AND 29
ORDER BY idade
''')

In [ ]:
# agora, buscando todos os valores que estão fora do intervalo (NOT BETWEEN 25 AND 29) ou (WHERE idade < 25 OR idade > 29)
# e mostra as idades com ordem ascendente (ORDER BY idade ASC)
consulta('''
SELECT *
FROM primeira_tabela
WHERE idade 
NOT BETWEEN 25 AND 29
ORDER BY idade ASC
''')

In [ ]:
# escolhe a coluna idade (SELECT idade) e as ordena de forma descendente 
consulta('''
SELECT idade
FROM primeira_tabela
ORDER BY idade DESC
''')

In [ ]:
# mostra os valores unicos de nome_munic (SELECT DISTINCT nome_munic)
consulta('''
SELECT DISTINCT nome_munic
FROM primeira_tabela
''')

## Operadores AVG e SUM

In [ ]:
# Calcula a média das idades
consulta(''' 
SELECT AVG(idade)
FROM primeira_tabela
''')

In [ ]:
# Soma todas as idades 
consulta(''' 
SELECT SUM(idade)
FROM primeira_tabela 
''')

In [ ]:
# Soma todas as idades e divide pela média
consulta(''' 
SELECT SUM(idade)/AVG(idade)
FROM primeira_tabela;
''')

## Comando Update

In [ ]:
# Escolhe a 'primeira_tabela' e atualiza todas as idades para 19 e todos os 'cs_sexo' para 'MASCULINO' (SET idade = 19, cs_sexo = MASCULINO),  
# em todos os registros em que nome_munic é igual a 'Lins' (WHERE nome_munic='Lins')
# Só que não salva automaticamente, então essas mudanças ficam na instância
consulta('''
UPDATE primeira_tabela
SET idade = 19,  cs_sexo = 'MASCULINO'
WHERE nome_munic='Lins'
''')

consulta('''
--E mostra as altereções:
SELECT *
FROM primeira_tabela
WHERE nome_munic='Lins'
''')

In [ ]:
conta_feminino = consulta('''
SELECT COUNT(cs_sexo)
FROM primeira_tabela
WHERE cs_sexo="FEMININO"
''')

conta_masculino = consulta('''
SELECT COUNT(cs_sexo)
FROM primeira_tabela
WHERE cs_sexo="MASCULINO"
''')

# Procurando a moda do da coluna 'cs_sexo' para preecher os valores NULL da coluna 'cs_sexo'
print("Numero de registros com feminino:", conta_feminino,"\nNumero de registros com masculino:", conta_masculino)

In [ ]:
# Retorna as linhas onde a coluna 'cs_sexo' é NULL(WHERE cs_sexo IS NULL)
consulta(''' 
SELECT *
FROM primeira_tabela
WHERE cs_sexo IS NULL
''')

In [ ]:
# Atualiza os valores NULL de 'cs_sexo' pela moda: "FEMININO", porém não salva no banco de dados
consulta('''
UPDATE primeira_tabela
SET cs_sexo = 'FEMININO'
WHERE cs_sexo IS NULL
''')

# conexao.commit() para salvar as alterações no banco de dados

In [ ]:
# Reavaliando se ainda há valores NULL
consulta(''' 
SELECT *
FROM primeira_tabela
WHERE cs_sexo IS NULL
''')

## Contando a quantidade de idades duplicadas

In [ ]:
consulta('''
SELECT idade, COUNT(*)
FROM primeira_tabela
GROUP BY idade
''')

## Operador Like

In [ ]:
# Retorna registros onde idade é igual a 22 (WHERE idade LIKE 22)
consulta(''' 
SELECT *
FROM primeira_tabela
WHERE idade LIKE 41
''')

In [ ]:
# retorna valores que começam com 'li' e terminam com qualquer valor (WHERE nome_munic LIKE 'Li%')
consulta(''' 
SELECT nome_munic
FROM primeira_tabela
WHERE nome_munic LIKE 'li%'
''')

In [ ]:
# Retorna valores que tenham 'a' na segunda posição e que terminem em qualquer valor
consulta(''' 
SELECT *
FROM primeira_tabela
WHERE nome_munic LIKE '_a%'
''')

In [ ]:
# Retorna valores que tenham um caractere antes de 'i' e que terminem em qualquer valor
consulta(''' 
SELECT *
FROM primeira_tabela
WHERE nome_munic LIKE '_i%'
''')

In [ ]:
# Retorna valores que tenham um caractere antes de 'i' na segunda posição e que tenham 2 caracteres depois de 'i'
consulta(''' 
SELECT *
FROM primeira_tabela
WHERE nome_munic LIKE '_i__'
''')

In [ ]:
# Retorna valores que comecem com 'li' e que tenham pelo menos 3 caracteres depois de 'i' não importando quantos caracteres sejam
consulta(''' 
SELECT *
FROM primeira_tabela
WHERE nome_munic LIKE 'li___%'
''')

In [ ]:
# Retorna valores que comecem com 'l' e que tenham qualquer valor no meio e que termine com 'ra'
consulta(''' 
SELECT *
FROM primeira_tabela
WHERE nome_munic LIKE 'l%ra'
''')

In [ ]:
# Retorna valores que comecem e terminem com qualquer valor, desde que tenham 'ei' em algum lugar
consulta(''' 
SELECT *
FROM primeira_tabela
WHERE nome_munic LIKE '%ei%'
''')

## Operador Not Like

In [ ]:
# Retorna registros onde idade NÃO é igual a 22 (WHERE idade NOT LIKE 22)
consulta(''' 
SELECT *
FROM primeira_tabela
WHERE idade NOT LIKE 41
''')

In [ ]:
# retorna valores que NÃO começem com 'li' e terminam com qualquer valor (WHERE nome_munic NOT LIKE 'Li%')
consulta(''' 
SELECT nome_munic
FROM primeira_tabela
WHERE nome_munic NOT LIKE 'li%'
''')

In [ ]:
# Retorna valores que NÃo tenham 'i' na segunda posição e que terminem em qualquer valor
consulta(''' 
SELECT *
FROM primeira_tabela
WHERE nome_munic NOT LIKE '_i%'
''')

In [ ]:
consulta(''' 

''')

## Outros operadores

In [ ]:
# conta a quantidade de registros que mostram a idade (SELECT COUNT(idade))
consulta('''
SELECT COUNT(idade)
FROM primeira_tabela 
''')

In [ ]:
# conta a quantidade de registros onde a idade é maior que 30 (WHERE idade>30)
consulta('''
SELECT COUNT(idade)
FROM primeira_tabela 
WHERE idade>30
''')

In [ ]:
# Escolhe a maior idade de 'primeira_tabela'
consulta('''
SELECT MAX(idade) 
FROM primeira_tabela
''')

In [ ]:
# Escolhe a menor idade de 'primeira_tabela'
consulta('''
SELECT MIN(idade) 
FROM primeira_tabela
''')

## Segunda Tabela

In [ ]:
executa(''' 
CREATE TABLE segunda_tabela(
   nome_munic              VARCHAR(8)
  ,idade                   INTEGER
  ,asma                    VARCHAR(8) 
  ,cardiopatia             VARCHAR(8)
  ,diabetes                VARCHAR(8)
  ,doenca_hematologica     VARCHAR(8)
  ,doenca_hepatica         VARCHAR(8)
  ,doenca_neurologica      VARCHAR(8)
  ,doenca_renal            VARCHAR(8)
  ,imunodepressao          VARCHAR(8)
  ,obesidade               VARCHAR(8)
  ,outros_fatores_de_risco VARCHAR(8)
  ,pneumopatia             VARCHAR(8)
  ,puerpera                VARCHAR(8)
  ,sindrome_de_down        VARCHAR(8)
);
''')

In [ ]:
executa('''
INSERT INTO segunda_tabela(nome_munic,idade,asma,cardiopatia,diabetes,doenca_hematologica,doenca_hepatica,doenca_neurologica,doenca_renal,imunodepressao,obesidade,outros_fatores_de_risco,pneumopatia,puerpera,sindrome_de_down) VALUES
 ('Louveira',41,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',33,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',23,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',49,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',29,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',25,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',23,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',46,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',33,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',53,'NÃO','NÃO','NÃO','NÃO','NÃO','NÃO','NÃO','NÃO','NÃO','SIM','NÃO','NÃO','NÃO')
,('Limeira',46,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',46,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',55,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',32,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Jaú',63,'NÃO','NÃO','SIM','NÃO','NÃO','NÃO','NÃO','NÃO','NÃO','NÃO','NÃO','NÃO','NÃO')
,('Jaú',41,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',27,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',30,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',47,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',26,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',37,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',50,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',49,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',53,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',45,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',24,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Lins',56,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Lins',36,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Lins',58,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Louveira',31,'IGNORADO','SIM','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',53,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',21,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',59,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',31,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',53,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',11,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',34,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',50,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',16,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',43,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',28,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',26,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',56,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',64,'IGNORADO','IGNORADO','SIM','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',63,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Lins',53,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Lins',47,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',22,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',37,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',12,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',56,'IGNORADO','SIM','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',35,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',57,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',48,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',51,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',37,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',43,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',34,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',43,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',38,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Louveira',21,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Louveira',64,'NÃO','SIM','SIM','NÃO','NÃO','NÃO','NÃO','NÃO','NÃO','NÃO','NÃO','NÃO','NÃO')
,('Louveira',39,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Louveira',27,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Louveira',35,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Louveira',41,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Louveira',34,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Louveira',47,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Louveira',26,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Louveira',33,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Louveira',58,'IGNORADO','IGNORADO','SIM','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Louveira',57,'SIM','NÃO','NÃO','NÃO','NÃO','NÃO','NÃO','NÃO','NÃO','NÃO','NÃO','NÃO','NÃO')
,('Louveira',38,'IGNORADO','SIM','SIM','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Louveira',40,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',31,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO')
,('Limeira',15,'IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO','IGNORADO');

''')

## Mostrando as tabelas

In [ ]:
# seleciona o nome das tabelas que estão no 'sqlite_schema'
consulta('''
SELECT name
FROM sqlite_schema
''')

In [ ]:
# para fechar a conexao entre o banco de dados 
conexao.close()